:root {
    --main-color: #30a13d;
    --player-color: purple;
    --active-color: darkgreen;
    --text-color: black;
    --highlight: #65e073;
    --selected-page: #96f68f;
    --hover-playlist: #f2f2f2;
}

* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    background-color: var(--highlight);
    padding: 10px;
    border-radius: 3px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    margin-top : 5px;
}

#container {
    display: grid;
    grid-template-areas: "nav-bar main-area"
        "playing-bar playing-bar";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    height: 100vh;
    overflow: hidden;
    position: relative;
    margin: 0 0 0 0;
    
}

#nav-bar {
    /*TODO : Assigner à la bonne zone de la grille */
    grid-area: nav-bar;
    height: 100%;
    background-color: var(--main-color);

}

#main-area {
    /*TODO : Assigner à la bonne zone de la grille */
    grid-area: main-area;
    padding: 0 10px;
    overflow-y: auto;
}

#playing-bar {
    /*TODO : Assigner à la bonne zone de la grille */
    grid-area: playing-bar;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--main-color);
}

#nav-bar ul {
    margin-right: 5px;
    padding-left: 10px;
    list-style: none;
}

li a {
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--text-color);
    background-color: white;
}

a:hover {
    text-decoration: underline;
    background-color: var(--selected-page);
}

a:focus {
    text-decoration: underline;
    background-color: var(--selected-page);
}


.align-center {
    align-items: center;
}

#controls {
    align-items: center;
    flex: 0.8;
}

#timeline {
    /* modifie la couleur de l'input de type slider */
    accent-color: var(--player-color);
    flex: 1
}

.control-btn {
    border: none;
}

#search-form {

    padding-top: 10px;
}

#search-form button {
    margin-left: 5px;
}

.playlist-item {
    align-items: center;
    justify-content: baseline;
    text-decoration: none;
    color: black;
    margin: 2px;
    padding: 4px;
    border-radius: 2px;
}

.playlist-item:hover {
    background-color: var(--hover-playlist);
}

.playlist-item * {
    margin: 1px;
}


.playlist-item p:first-of-type{
    color: var(--main-color);
    font-family: 'Roboto', sans-serif;
    
}

.playlist-container{
    display: flex;
    flex-wrap: flex;
}

.playlist-item p {
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    /*TODO : Gérer le texte trop grand DONE */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 180px;
}

.playlist-item img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    margin-left: 16px;

}

.playlist-item div{
    display:flex;

    max-width: 180px;
}

.playlist-item:hover i {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    visibility: visible;
    transform: translateX(-34px);

}

#song-container div {
    margin-top: 5px;
    border: solid;
    border-color: var(--highlight);
    border-radius: 10px;
    align-items: center;
    
}

#song-container div:hover {
   
    border-width: thick;
    border-color: var(--active-color);
    
    
}

.song-item button {

    margin: 5px;
}

.song-item>p {
    flex: 1;
}

.song-item button {
    margin-right: 10px;
}

.song-item p:first-of-type {
    margin-left: 10px;
}


.hidden {
    visibility: hidden;
}

.form-control {
    margin: 10px;
    justify-content: space-between;
}

.form-group label {
    margin: 5px;
    font-weight: bold;
}



/* TODO : modifier l'affichage en bas de 800px*/
@media only screen and (max-device-width: 800px),
only screen and (max-width: 800px) {  
    .playlist-container {
        display: grid;
        grid-template-columns: minmax(250px,1fr) minmax(250px,1fr);
        
    }
}